.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn {
  padding: 1em;
  background: aquamarine;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  margin: 20px;
}

.btn:hover {
  background: rgb(88, 181, 150);
  cursor: pointer;
}

.home-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login-page {
  display: flex;
}

.signup-page {
  display: flex;
}

.separating-line {
  height: 1px;
  width: 100%;
  background: cyan;
}
